bin/
bin.*
___bin
build/
node_modules/
node_modules__
logs/
config.json
__info.txt
setup/
build/.build
i18n.entries
.DS_Store
apps/dagtps
apps
module_config_state.txt
package-lock_.json
modules/controller/xxxx
__package.json
i18n-sorted.data
i18n-sorted.entries
i18n-merge.data
*.code-workspace
target
*.iml
