body{
	background:white;display:flex;flex-direction:column;
	font-family:'Julius Sans One';
	font-weight:bold;
	--flow-font-family:'Julius Sans One';
	
	--flow-font-weight:bold;
	--flow-primary-color:rgba(0,151,115,1.0);
	--flow-on-primary-color:white;
	--flow-border-color:rgba(0,151,115,1.0);
	--flow-border-hover-color:rgba(2, 97, 74, 1);
	--flow-tab-font-size:1.5rem;
	/*
	--flow-caption-bar-font-family:'Julius Sans One';
	--flow-checkbox-color:var(--flow-primary-color);
	*/
}
@font-face {
	font-family: 'Hero';font-style: normal;
	src: url("fonts/hero.woff") format('woff');
}
@font-face {
	font-family:'Julius Sans One';font-style:normal;
	src: url("../../resources/extern/fonts/JuliusSansOne-Regular.ttf") format('truetype');
}
@font-face{
	font-family: 'Open Sans';font-style: normal;
	src: url("../../resources/extern/fonts/Open Sans.ttf") format('truetype');
}
h1{color:blue;}
tab-content::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#F5F5F5;
}
tab-content::-webkit-scrollbar{width:16px;background-color:#F5F5F5;}
tab-content::-webkit-scrollbar-thumb{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#888;
}
/*
#account{
	-webkit-app-region: drag;
}
*/
flow-form-control{
	/*background-color:#f2f2f2;*/
	padding:10px;
}
flow-form-control [slot="info"]{
	font-family: 'Open Sans';
}
flow-form-control h4[slot="info"].title{margin-bottom:10px;}
.tabs{margin-top:32px;width:100%;}
flow-caption-bar{/*--flow-tab-min-width:220px;--flow-tab-max-width:320px;*/}
tab-content{background-color:white;overflow:auto auto;flex:1;padding:10px;display:none}
flow-textarea{margin:4px;}
tab-content>x-terminal{height:100%;}
#settings-script{display:none;}
#settings-script.active{display:flex;}
.settings-script{display:flex;height:400px;flex-direction:column;}
.settings-script .script-box{flex:1;background-color: #fbfbfb;}
.settings-script .tools{
	flex:1;display:flex;justify-content:flex-end;
	align-items: flex-start;padding:5px 0px;
}

