body{
	background:white;display:flex;flex-direction:column;
	font-family:'Julius Sans One';
	font-weight:bold;
	--flow-font-family:'Julius Sans One';
	
	--flow-font-weight:bold;
	--flow-primary-color:rgba(0,151,115,1.0);
	--flow-border-color:rgba(0,151,115,1.0);
	--flow-border-hover-color:rgba(2, 97, 74, 1);
	--flow-tab-font-size:1.5rem;
	/*
	--flow-caption-bar-font-family:'Julius Sans One';
	--flow-checkbox-color:var(--flow-primary-color);
	*/
	opacity:1;
	transition:opacity 0.5s ease;
}
body.ui-loading{
	opacity:0;
}
@font-face {
	font-family: 'Hero';font-style: normal;
	src: url("fonts/hero.woff") format('woff');
}
@font-face {
	font-family:'Julius Sans One';font-style:normal;
	src: url("../../resources/extern/fonts/JuliusSansOne-Regular.ttf") format('truetype');
}
@font-face{
	font-family: 'Open Sans';font-style: normal;
	src: url("../../resources/extern/fonts/Open Sans.ttf") format('truetype');
}
@font-face{
	font-family: 'Consolas';font-style: normal;
	src: url("../../resources/extern/fonts/Consolas.woff") format('woff');
}
tab-content::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#F5F5F5;
}
tab-content::-webkit-scrollbar{width:16px;background-color:#F5F5F5;}
tab-content::-webkit-scrollbar-thumb{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#888;
}
flow-form-control{
	/*background-color:#f2f2f2;*/
	padding:10px;
}
flow-form-control [slot="info"]{
	font-family: 'Open Sans';
}
flow-form-control h4[slot="info"].title{margin-bottom:10px;}
.tabs{margin-top:32px;width:100%;}
flow-tabs flow-tab{margin-left: -20px;margin-right: -20px;}
flow-caption-bar{/*--flow-tab-min-width:220px;--flow-tab-max-width:320px;*/}
tab-content{overflow:auto auto;flex:1;padding:10px;display:none;z-index:15;}
flow-textarea{margin:4px;}
tab-content>x-terminal{height:100%;}
#settings-script{display:none;}
#settings-script.active{display:flex;}
.settings-script{display:flex;height:400px;flex-direction:column;}
.settings-script .script-box{flex:1;}

body {
	--flow-primary-color: rgba(0, 128, 116, 1);
}

body.flow-theme-dark {
	--flow-primary-color: rgba(0, 128, 116, 1);
}

body:not(.flow-theme-dark) .settings-script .script-box{background-color:#fbfbfb;}
.tools{
	display:flex;justify-content:flex-end;
	align-items:center;padding:5px 0px;
}
.tools>flow-btn{margin-left:5px;}
tab-content.advance,
tab-content.vertical-flex{
	flex-direction:column;
}
tab-content.advance>flow-terminal,
tab-content.vertical-flex>flow-terminal{
	flex:1;
}
.settings-script .tools{
	display:flex;justify-content:flex-end;
	align-items: flex-start;padding:5px 0px;
}
.slot-block{margin:5px 0px; text-align:right;}
#data-folder-input{width:100%;}
.data-folder-input-tools:not(.active){display:none}
body:after{
	opacity:0;content:"";
	position:fixed;z-index:-1;
	left:0px;right:0px;
	top:0px;bottom:0px;
	background-color:rgba(255,255,255, 0.7);
	transition:opacity 0.5s ease;
}
body.disable:after{z-index:100000;opacity:1;}
.ace_editor{
	font-size: 1rem;
	font-family:Consolas, 'Open Sans', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.task-info{
	width:fit-content;
	/*border:1px solid var(--flow-primary-color);*/
	cursor:default;
	font-size:.9rem;
	margin:15px 0px;
	padding: 10px;
    /*box-shadow: 3px 3px 0px 0px var(--flow-primary-color);*/
}
.task-info .task{display:flex;padding:2px;}
.task-info .task:not([running]){color:#800;}
.task-info .task .col-1{flex:1;margin-right:20px;}
.task-info .task:not([version]) .version{display:none}
.task-info .task .version,
.task-info .task .version i{
	font-size:0.75rem;font-style:normal;font-family:Consolas;
}

