html{font-size:16px;}
body{
	background:white;display:flex;flex-direction:column;
	font-family:'Exo 2';
	font-weight:normal;
	--flow-font-family:'Exo 2';
	--flow-font-weight:normal;
	opacity:1;
	transition:opacity 0.5s ease;
	font-size:18px;
	--flow-input-btn-font-size:18px;
	--flow-primary-color:rgba(0, 150, 136, 1);
	--flow-border-color:rgb(0, 133, 119);
	--flow-border-hover-color:rgba(2, 97, 74, 1);
	--flow-tab-font-size:1.5rem;
	--flow-link-color:  rgba(0,150,136,1);
	--flow-link-hover-color:  rgb(0, 105, 95);
	
	--flow-data-badge-caption: #000;
    --flow-data-badge-caption-shadow: rgba(0,151,115,1.0);
	--flow-data-badge-graph-fill:  rgb(0, 105, 95, 0.15);
	--flow-data-badge-graph-stroke:  rgba(0, 105, 95, 1.0);
	--flow-data-badge-graph-stroke-width: 1px;
	--flow-data-badge-graph-stroke-opacity: 0.3;

	--flow-graph-fill:  rgb(0, 105, 95, 0.15);
	--flow-graph-stroke:  rgba(0, 105, 95, 1.0);
	--flow-graph-stroke-width: 1px;
	--flow-graph-stroke-opacity: 0.3;
	
	--flow-input-min-width:300px;
	--flow-input-bg:white;
    --flow-input-color: #585858;
    --flow-input-placeholder: #555;
    --flow-input-label-border: 0px;
    --flow-input-height:50px;
    --flow-input-font-size:1rem;
    --flow-input-label-font-size: 0.9rem;
    --flow-input-font-weight:normal;
	--flow-input-line-height:80%;
	--flow-input-box-shadow:10px 10px 30px  rgba(0,0,0,0.05), -10px -10px 30px rgba(0,0,0,0.05);
	--flow-input-border: 0px;

	--flow-select-width:var(--flow-input-width);
	--flow-select-margin:var(--flow-input-margin);
	--flow-select-display:var(--flow-input-display);
	--flow-select-border:var(--flow-input-border);
	--flow-select-input-padding:var(--flow-input-padding);
	--flow-select-label-border: 0px;
	--flow-select-label-font-size:var(--flow-input-label-font-size);
	--flow-select-selected-min-height: 40px;
	--flow-select-input-height: 40px;
	--flow-select-selected-min-width: 200px;

	--flow-btn-font-size:1.1rem;
	--flow-btn-wrapper-min-width:50px;
	--flow-btn-padding:11px 8px;
	--flow-dialog-btn-padding: 7px 2px;
	--flow-markdown-icon: url(/node_modules/@aspectron/flow-ux/resources/icons/svg/link.svg);

	--kaspa-wallet-container-padding:0px 5px 5px;
	--kaspa-wallet-header-margin:0px;
	--kaspa-wallet-header-border-bottom:0px;
	--kaspa-wallet-header-padding:0px 10px 5px;
	--kaspa-wallet-header-logo-diaplay:none;
}

body.flow-theme-dark{
	--flow-markdown-icon: url(/node_modules/@aspectron/flow-ux/resources/icons/svg/link.svg);
	--flow-primary-color:  rgba(0,150,136,1);
	--flow-border-color:  rgba(0,150,136,1);
	--flow-data-badge-value: #fff;
	--flow-data-badge-caption: #ccc;
    --flow-data-badge-caption-shawod: rgba(0,151,115,1.0);
	--flow-data-badge-graph-fill:  rgb(0, 105, 95, 0.5);
	--flow-data-badge-graph-stroke:  rgb(1, 138, 124);
	--flow-data-badge-graph-stroke-width: 1px;
	--flow-data-badge-graph-stroke-opacity: 0.75;
	--flow-markdown-code-background-color: rgba(0,0,0,0.9);
	--flow-markdown-code-border: #333;
	--flow-background-color:#232323;
	--flow-foreground-color:#FFFFFF;
	--flow-terminal-bg-color:#232323;
	--flow-terminal-color:#fff;
	--flow-terminal-cursor:#ccc;
	--flow-terminal-selection:rgba(100, 100, 100, 0.5);
	--flow-box-shadow: 0 2px 15px 0 rgba(39, 206, 164, 0.14),
	0 3px 1px -3px rgba(13,226,195,.2),
	0 1px 15px 0 rgba(14,234,184,.12);
	--flow-input-box-shadow:0 0px 4px 0 rgba(1, 150, 136),
	0 0px 0px -3px rgba(121, 255, 235, 0.2),
	0 0px 1px 0 rgba(65, 255, 212, 0.12);
}


*[caption] {
	text-transform: uppercase;
}

body.ui-loading{
	opacity:0;
}
@font-face {
	font-family:'Julius Sans One';font-style:normal;
	src: url("../../resources/extern/fonts/JuliusSansOne-Regular.ttf") format('truetype');
}
@font-face {
	font-family:'Source Sans Pro';font-style:normal;
	src: url("../../resources/extern/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format('truetype');
}
@font-face {
	font-family:'Source Sans Pro';font-style:normal; font-weight:bold;
	src: url("../../resources/extern/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format('truetype');
}

@font-face {
	font-family:'Exo 2';font-style:normal;
	src: url("../../resources/extern/fonts/Exo2/Exo2-Regular.ttf") format('truetype');
}
@font-face {
	font-family:'Exo 2';font-style:normal;font-weight:300;
	src: url("../../resources/extern/fonts/Exo2/Exo2-Light.ttf") format('truetype');
}
@font-face {
	font-family:'Exo 2';font-style:normal; font-weight:bold;
	src: url("../../resources/extern/fonts/Exo2/Exo2-Bold.ttf") format('truetype');
}

@font-face {
	font-family:'Source Code Pro';font-style:normal;
	src: url("../../resources/extern/fonts/SourceCodePro/SourceCodePro-Regular.ttf") format('truetype');
}
@font-face {
	font-family:'Source Code Pro';font-style:normal;font-weight:300;
	src: url("../../resources/extern/fonts/SourceCodePro/SourceCodePro-Light.ttf") format('truetype');
}
@font-face {
	font-family:'Source Code Pro';font-style:normal; font-weight:bold;
	src: url("../../resources/extern/fonts/SourceCodePro/SourceCodePro-Bold.ttf") format('truetype');
}
@font-face {
	font-family:'Lato';font-style:normal;
	src: url("../../resources/extern/fonts/Lato/Lato-Regular.ttf") format('truetype');
}
@font-face {
	font-family:'Lato';font-style:normal; font-weight: bold;
	src: url("../../resources/extern/fonts/Lato/Lato-Bold.ttf") format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	src: url("../../resources/extern/fonts/Open Sans.ttf") format('truetype');
}
@font-face {
	font-family: 'Consolas';font-style: normal;
	src: url("../../resources/extern/fonts/Consolas.woff") format('woff');
}
@font-face {
	font-family:'IBM Plex Sans';
	src: url("../../resources/extern/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf") format('truetype');
}
@font-face {
	font-family:'IBM Plex Sans Condensed';
	src: url("../../resources/extern/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Regular.ttf") format('truetype');
}

body.welcome {
	overflow-y: auto;
}

kdx-app{flex:1;display:flex;flex-direction:column;overflow:hidden;}

tab-content::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#F5F5F5;
}
tab-content::-webkit-scrollbar{width:16px;background-color:#F5F5F5;}
tab-content::-webkit-scrollbar-thumb{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
	box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#888;
}
flow-form-control,
flow-expandable{
	/*background-color:#f2f2f2;*/
	padding:10px;
}
flow-form-control [slot="info"],
flow-expandable [slot="info"]{
	font-family: 'Open Sans';
}
flow-form-control h4[slot="info"].title,
flow-expandable h4[slot="info"].title{margin-bottom:10px;}
/*flow-expandable:not([opened]) [slot="info"]{display:none;}*/
.tabs{margin-top:32px;width:100%;}
flow-tabs flow-tab{margin-left: -20px;margin-right: -20px;}
/*flow-caption-bar{--flow-tab-min-width:220px;--flow-tab-max-width:320px;}*/
tab-content{overflow:auto auto;flex:1;padding:10px;display:none;z-index:15;}
flow-textarea{margin:4px;}
tab-content>x-terminal{height:100%;}
.license p{margin:5px 0px;}
#settings-script{display:none;}
#settings-script.active{display:flex;}
.settings-script{display:flex;height:400px;flex-direction:column;}
.settings-script .script-box{flex:1;}

body:not(.flow-theme-dark) .settings-script .script-box{background-color:#fbfbfb;}
body{
	--flow-background-color:#FFFFFF;
	--flow-foreground-color:#232323;
	--flow-terminal-bg-color:#fff;
	--flow-terminal-color:#000;
	--flow-terminal-cursor:#555;
	--flow-terminal-selection:rgba(100, 100, 100, 0.5);
}

body.invert-terminals{
	--flow-terminal-bg-color:var(--flow-foreground-color);
	--flow-terminal-color:var(--flow-background-color);
	--flow-terminal-cursor:var(--flow-background-color);
	--flow-terminal-selection:rgba(100, 100, 100, 0.5);
}
/*tab-content.term .x-terminal{
	background-color:var(--flow-terminal-bg-color);
	color:var(--flow-terminal-color);
}*/
.tools{
	display:flex;justify-content:flex-end;
	align-items:center;padding:5px 0px;
}
.tools>flow-btn{margin-left:5px;padding:7px 2px;}
tab-content{background-color:var(--flow-background-color);}
tab-content.advanced,
tab-content.vertical-flex{
	flex-direction:column;
}
tab-content.advanced>flow-terminal,
tab-content.vertical-flex>flow-terminal{
	flex:1;
}
.settings-script .tools{
	display:flex;justify-content:flex-end;
	align-items: flex-start;padding:5px 0px;
}
.slot-block{margin:5px 0px; text-align:right;}
/*.slot-block>flow-btn{padding:10px 5px;}*/
#data-folder-input{width:100%;}
.data-folder-input-tools:not(.active){display:none}
body:after{
	opacity:0;content:"";
	position:fixed;z-index:-1;
	left:0px;right:0px;
	top:0px;bottom:0px;
	background-color:rgba(255,255,255, 0.7);
	transition:opacity 0.5s ease;
}
body.disable:after{z-index:100000;opacity:1;}
.ace_editor{
	font-size: 1rem;
	font-family:Consolas, 'Open Sans', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.task-info{
	width:fit-content;
	
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	*/
	/*border:1px solid var(--flow-primary-color);*/
	cursor:default;
	font-size:.9rem;
	margin:5px 0px;
	padding: 4px;
    /*box-shadow: 3px 3px 0px 0px var(--flow-primary-color);*/
}
.task-info .task{display:flex;padding:2px;}
.task-info .task:not([running]){color:#c00;}
.task-info .task .col-1{flex:1;margin-right:20px;}
.task-info .task:not([version]) .version{display:none}
.task-info .task .version,
.task-info .task .version i{
	font-size:0.75rem;font-style:normal;font-family:Consolas;
}
.task-info .kaspad{font-family:Consolas;font-size:0.75rem;}
.task-info .task .sub.suffix{font-size:0.83rem;}

body:not(.advanced-ui) .advanced-tool{display:none}

project { xfont-family: "Open Sans"; text-transform:uppercase; font-size: 16px; font-weight: normal; display: block; margin: 8px 0px; line-height:1.2;}
project .license {  display: inline-block; font-size: 14px; font-weight: normal; xcolor: var(--flow-primary-color) }
project name { display: inline-block; min-width: 92px; }
project license {  display: inline-block; }
project copyright {  display: inline-block; font-size: 12.5px; } 
project > * { padding: 2px; }

#kaspa-resources ul li {
	font-size: 18px;
	padding: 6px;
	--flow-link-font-size:18px;
}

#applications flow-window-link {
	margin: 14px 0px 0px 8px;
}

.uptime {
	min-width: 120px;
}

.cpu, .pmem, .vmem, .memory {
	min-width: 160px;
}
flow-input[disabled]{opacity:0.5}
flow-input {margin:10px 2px;}

.block { display: block; }

.input-ctl-margin {
	margin: 8px;
}
flow-selector .menu-item{padding:2px 4px;}
.v-box{display:flex;flex-direction:column;}
.h-box{display:flex;}
.h-box.stretched{align-items:stretch;}
.h-box-stretched-group{
	display:flex;flex-direction:column;align-items:stretch;
}
[row]{display:flex;flex-direction:row;max-width: 350px;justify-content: space-between;margin-bottom: 15px;}
.h-box-stretched-group>flow-selector{margin:0px 5px 0px 0px}
.h-box-stretched-group>flow-btn{margin-top:7px;max-width:60px;padding:7px 2px;}
.h-box-stretched-group>flow-selector .menu-item{padding:4px;}
.no-mining {
	display:none;
}
.wallet{flex-direction:column;position:relative;overflow-x:hidden;padding-top:0px}
.wallet flow-tabs{flex:initial;margin:0px 10px 5px;}
.wallet-init-overlay{
	position:absolute;z-index:100;
	left:0px;right:0px;top:0px;bottom:0px;
	padding:2px 10px;
	background-color:var(--flow-background-color);
	display:none;flex-direction:column;
}
.wallet-init-overlay.active{display:flex;}
.short-dialog .msg{padding-bottom:10px;}
.short-dialog .error-msg{
	padding:5px;color:red;min-height:30px;font-size:0.8rem;box-sizing:border-box;
}
.short-dialog .fa-btn{align-self:center;margin:5px 10px;cursor:pointer;}
.short-dialog .full-width{width:100%;max-width:100%;}
.short-dialog dialog{min-width:10px;width:95%;max-width:510px}

@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.spin{
	-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
flow-dialog.with-icon dialog .heading{display:flex;align-items:center;}
flow-dialog.with-icon dialog .heading fa-icon{margin-right:10px;}
flow-dialog flow-input{--flow-input-font-size:1rem;}

fa-icon.big{--fa-icon-size:40px;}
fa-icon.warning{--fa-icon-color:red}

[inline-info] {
	font-family: "Open Sans";
	font-size: 14.4px;

}

.donation-addresses .donation-address-box{
	margin:2px 0px;
}
.donation-addresses .donation-address-box fa-icon{
	cursor:pointer
}
.donation-addresses .donation-address-box .address{

    border: 0px;
    appearance: none;
    outline: none;
    margin: 5px 5px 0px 0px;
    text-overflow: ellipsis;
    font-size: 16px;
    max-width: 500px;
    min-width: var(--kaspa-wallet-address-input-min-width, 460px);
    background-color: transparent;
    color: var(--flow-primary-color);
    font-family: "Exo 2";
    overflow-wrap: break-word;
    resize: none;
}
